* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: 0;
}

body {
    /* height: 600vh; */
    scroll-behavior: smooth;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

div.content {
    display: block;
    height: 200vh;
}

main div:last-of-type {
    height: 100vh;
}